.container {
    max-width: 60dvw;
    display: flex;
    gap: 2em;
    margin: 0 auto;
}

blockquote p{
    max-width: 60ch;
    color: #ccc;
}

blockquote {
    padding: 4em;
    padding-left: 2em;
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    flex-grow: 1;
    position: relative;
}

blockquote + blockquote {
    margin-top: 2em;
}


.flex-1 blockquote::after {
    content: '';
    background-color: rgb(6, 155, 6);
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 40px;
    right: 60px;
}

/* .flex-2 blockquote::after {
    content: '';
    background-color: rgb(6, 155, 6);;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
} */

.flex-1 {
    display: flex;
    flex-wrap: wrap;
}

.flex-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* blockquote .author {
    font-weight: bold;
    margin-top: 1em;
}  */