body {
    /* if we want to stretch the body to full heigh (dynamic) */
    /* min-height: 100dvh;
    box-sizing: border-box; */
    border: 2px solid green;
    padding: 2em;
    margin: 0;
  }

  .section {
    border: 2px solid blue;
    padding: 2em;

    padding: 2em max(2em, (100% - 60em) / 2);
    /* the usual way of centering content */
    /* max-width: 60em;
    margin: 0 auto; */
  }

  .section + .section {
    margin-top: 2em;
  }

  /* alternative of the above */
  /* .section:not(:first-child) {
    margin-top: 2em;
  } */

  .section p:first-child {
    font-weight: bold;
  }